<div class="recoverPassword">
    <form id="recoverPasswordForm">
        <h2>Restore Password</h2>
        <label for="email">Email</label>
        <input id="email" name="email" />
        <br />
        <input type="submit" class="submit"/>

    <p class="register">Have an acount? <a href="/">Login</a></p>
    <p class="register">You are not register? <a href="/register">Register</a></p>
    <br>
    <p class="resetPassword">Reset your password? <a href="/resetPassword">Restore your password</a></p>
    <br>
    </form>
    <div className="loginGithub">
        <a href="/api/session/github"><button>Login with github</button> </a>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/mailToRestorePassword.js"></script>