
<div class="purchase-container">
    <h1>Congratulations Purchase Completed</h1>
<p>This is the list of products you bought:</p>
<ul>
    {{#each payload.products}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>Total Amount: ${{payload.amount}}</p>
<br>
<div>
    <a href="/api/session/logout">
        <button id="logout_button">Logout</button>
    </a>
    
    <a href="/products">
        <button class="button">Shop</button>
    </a>
</div>


</div>
