<div class="register">
    <form id="registerForm">
    <h1>Register</h1>

        <label>Name</label>
        <input name="first_name" />
        <br />
        <label>Last Name</label>
        <input name="last_name" />
        <br />
        <label>Age</label>
        <input name="age" />
        <br />
        <label>Email</label>
        <input name="email" />
        <br />
        <label>Password</label>
        <input type="password" name="password" />
        <br />

        <input type="submit" />

    <p>¿Have an acount? <a href="/">Click here</a></p>
    </form>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>
