<div class="reset">
    <h1>Reset your password</h1>
    <form id="resetPasswordFrom">
        <label for="email">Email:</label>
        <input id="email" type="text" />
        <br />
        <label for="password">Password:</label>
        <input id="password" type="password" />
        <br />
        <input type="submit" class="submit"/>
    </form>
<p>¿Have an acount? <a href="/">Click here</a></p>
<p >You are not register? <a href="/register">Register</a></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPassword.js"></script>