<div class="recoverPassword">
    <form id="recoverPasswordForm">
        <h2>Recover Password</h2>
        <label for="password">New password</label>
        <input id="password" type="password" />
        <br />
        <label for="passwordRepeat">Repeat new password</label>
        <input id="passwordRepeat" type="password" />
        <br />
        <input type="submit" class="submit"/>
    </form>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/restorePassword.js"></script>